<div class="container">
    <header>
      <h1 >LISTA DE ACTORES </h1>
     </header>
    
    <div class="col-md-12">
      <h4 style="color:#0A453C">Lista de Actores</h4>
      <table class="table">
        <thead style="border-bottom: #6ED8AE 3px solid;; border-top: #6ED8AE 3px solid;">
          <tr>
            <th scope="col" style="color: #000000;">#ID</th>
              <th scope="col" style="color: #000000;">Nombre</th>
              <th scope="col" style="color: #000000;">Apellido</th>
              <th scope="col" style="color: #000000;">Fecha y hora</th>
              <th scope="col" style="min-width: 150px; color: #000000;" >Opciones</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>  
    </div>
  </div>
  